<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangbo.mapper.ArticleMapper">
    <!--        <select id="find_vendorLevel" resultType="list">-->
    <!--            select vendor_level from tab_vendor group by vendor_level-->
    <!--        </select>-->
</mapper>