<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangbo.mapper.MenuMapper">
<!--    查询角色权限-->
    <select id="selectPermsByUserId" resultType="java.lang.String">
        SELECT
            DISTINCT m.`perms`
        FROM
            tab_user_role ur
                LEFT JOIN `tab_role` r ON ur.`role_id` = r.`id`
                LEFT JOIN `tab_role_menu` rm ON ur.`role_id` = rm.`role_id`
                LEFT JOIN `tab_menu` m ON m.`id` = rm.`menu_id`
        WHERE
            user_id = #{userid}
          AND r.`status` = 0
          AND m.`status` = 0
    </select>
</mapper>
